body {
    font-family: "Montserrat";
}

h1 {  
    font-family: 'Abril Fatface', cursive;
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
}

h2 {
    font-family: "Abril Fatface";
    font-size: 3.5rem;
    line-height: 1.5;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15%;
}

.nearby {
    color: white;
}

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Passion One', cursive;
    letter-spacing: 3px;
}

.dogPhoto {
    width: 50%;
    transform: rotate(25deg);
    display: block;
    position: relative;
    z-index: 1;
    top: 150px;
    margin-right: auto;
    margin-left: auto;

}

.nav-item {
    padding: 0 18px;
    font-size: 1.2rem;
}

.downloadBtn {
    margin: 5% 3% 5% 0;
}

#features {
    margin:140px auto 140px auto;
    background-color: #fff;
    position: relative;
    bottom: 60px;
}

.fa-solid {
    color: #ef8172;
    padding: 20px;
}

h3 {
    font-weight: bold;
}

.secondText {
    color: #8f8f8f;
    width: 60%;
    margin: auto;
}

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 2% 3%;
}

.topBlock {
    position: relative;
    z-index: 0;
}

.whiteBlock {
    height: 180px;
    position: relative;
    z-index: 1;
    background-color: #fff;
    border: none;
}

@media (max-width: 1028px) {
    .dogPhoto {
        transform: rotate(0);
    }

    #title {
        text-align: center;
    }
}

#cta {
    background-color:#ff4c68;
    color: #fff;
    padding: 8%;
    text-align: center;
    
}

.ctaText {
    font-size: 4rem;
}

#footer {
    padding: 7%;
    text-align: center;
}

.ico {
    color: black;
    padding: 6px;
    margin-bottom: 10px;
}