body {
    font-family: "Montserrat";
}

h1 {  
    font-family: 'Abril Fatface', cursive;
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15%;
}

.nearby {
    color: white;
}

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Passion One', cursive;
    letter-spacing: 3px;
}

.dogPhoto {
    width: 50%;
    transform: rotate(25deg);
    display: block;
    margin-right: auto;
    margin-left: auto;

}

.nav-item {
    padding: 0 18px;
    font-size: 1.2rem;
}

.downloadBtn {
    margin: 5% 3% 5% 0;
}

